

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}


.App {
  text-align: center;
}

/* topbar and footer use it */
.topbar{
  background-color: #688032;
  ;
  
}

/* use it for single service details */
.pic:hover{
  border: 2px dotted yellow;
  border-radius: 10px;
  transition: .5s;
  
}
/* testimonial page style */
.testimoni-bg{
  background-color: rgb(204, 220, 233);
  padding: 15px;
  border-radius: 10px;
}


/* curv picture style */
.wave{
  width: 80px;


  /* all input tag style */
}
input{
  border:none ;
  border-bottom: 1px solid rgb(114, 112, 112);
  width: 500px;
  margin-right: 10px;
}
