.App {
  text-align: center;
}

.topbar{
  background-color: #688032;
  ;
  
}

.pic{
  border: 2px dotted white;
 
}
.pic:hover{
  border: 2px dotted yellow;
  border-radius: 10px;
  transition: .5s;
  
}



.wave{
  width: 80px;

}
.card-style{
  margin: 50% auto;
}
